/* Affects Login page, with logo. */
.Pane1 {
	/*-fx-background-color: rgba(183,222,237,1);
	-fx-background-color: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 36%, rgba(113,206,239,1) 88%, rgba(183,222,237,1) 100%);
	-fx-background-color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(36%, rgba(33,180,226,1)), color-stop(88%, rgba(113,206,239,1)), color-stop(100%, rgba(183,222,237,1)));
	-fx-background-color: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 36%, rgba(113,206,239,1) 88%, rgba(183,222,237,1) 100%);
	-fx-background-color: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 36%, rgba(113,206,239,1) 88%, rgba(183,222,237,1) 100%);
	-fx-background-color: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 36%, rgba(113,206,239,1) 88%, rgba(183,222,237,1) 100%);**/
	-fx-background-color: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 36%, rgba(113,206,239,1) 88%, rgba(183,222,237,1) 100%);
	/*-fx-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );	*/
	-fx-background-image:url("LogoZag.png");
	-fx-background-size: 125px 125px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center top;
}

.txtArea {
	-fx-background-color: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 36%, rgba(113,206,239,1) 88%, rgba(183,222,237,1) 100%);
}

/* Affects background of the remaining pages. */
.Pane {
	-fx-background-color: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 36%, rgba(113,206,239,1) 88%, rgba(183,222,237,1) 100%);
}

/* Affects the module circles. May prove redundant*/
.Circle {

}

/*Affects the color of the progress indicator.*/
.ProgInd {
	-fx-progress-color: green;
}

/*Affects the line in Student- and TeacherView.java*/
.Line {
	-fx-opacity: 30%;
}

.ModuleText{
	-fx-font-size: 50px;
}